@model BanTV.Models.HoaDon;
@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<br />
<br />
<br />
<br />
<h4>Đơn hàng có mã @Model.Mahd trị giá @Model.Tongtien đã được hệ thống ghi nhận. Chúng tôi sẽ sớm liên hệ với bạn...</h4>
<br />
<br />
<br />
<br />