@{
    ViewData["Title"] = "Giới Thiệu";
}
<br />
<br />
<br />
<br />
<form asp-action="Gioithieusony">
    <section class="about_section layout_padding ">
        <div class="container">
            <div class="row">

                <div class="col-md-11">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                1. Nguồn gốc tivi Sony của nước nào?
                            </h2>
                        </div>

                        <p>
                            Dựa vào nguồn Wikipedia, Sony là một tập đoàn đa quốc gia của Nhật Bản, với trụ sở chính nằm tại Minato, Tokyo, Nhật Bản, và là tập đoàn điện tử đứng thứ 5 thế giới với 81,64 tỷ USD (2011). Sony là một trong những công ty hàng đầu Thế Giới về điện tử, sản xuất tivi, máy ảnh, máy tính xách tay và đồ dân dụng khác.

                            Sony là hãng hãng rất thành công đối với các dòng sản phẩm điện tử như laptop, máy ảnh, điện thoại, ... với hình ảnh sắc nét, âm thanh chất lượng cao. Đặc biệt, bạn không thể bỏ lỡ qua khi nhắc đến tivi Sony đã cho ra mắt chiếc tivi truyền hình đầu tiên trên thế giới mang tên TV8-301 vào T5/1960 dưới ánh mắt kinh ngạc của toàn Thế Giới, và là niềm vinh dự cho cả nền công nghiệp Nhật Bản.
                        </p>


                        <img src="~/giới thiệu sony/ckeditor_3240028.jpg" width="1000" />

                        <p>
                            Khoảng 6% - 10% doanh thu hằng năm của Sony phục vụ cho việc nghiên cứu để tạo ra những sản phẩm tốt nhất bán trên thị trường, đến tận ngày nay với dòng tivi OLED mang đến cho người xem những hình ảnh hoàn hảo chân thực, âm thanh sống động với công nghệ đa sắc màu hiện có. Cùng đó là thiết kế tối giản đẹp mắt, viền màn hình siêu mỏng mang lại sự tinh tế, sang trọng riêng biệt mà ai cũng muốn sở hữu 1 chiếc tivi Sony.

                            Đến nay, các dòng tivi Sony, đây là một trong những sản phẩm chủ lực và mang lại danh tiếng cho hãng. Hiện ở thị trường Việt Nam, Sony đang là hãng bán chạy thứ 3 về tivi nổi bật là các dòng tivi OLED, tivi Android, Smart tivi.
                        </p>




                        <div class="heading_container">
                            <h2>
                                T2. Tivi Sony có tốt không?
                            </h2>
                        </div>

                        <p>
                            Qua những thông tin về tivi Sony của nước nào sản xuất được chia sẻ ở mục 1. chắc hẳn các bạn cũng đã biết được khẳng định phần nào về “Tivi Sony có tốt không?”

                            Vậy chúng tôi khẳng định lại 1 lần nữa cho câu hỏi “Tivi Sony có tốt không?” câu trả lời của chúng tôi là “CÓ” . Bởi nó được thiết kế đơn giản về kiểu dáng rất tinh tế nhỏ gọn, mỏng nhưng chính thế mà nó không thể không toát lên vẻ sang trọng. Cùng với việc kết hợp công nghệ xử lý hình ảnh vô cùng hiện đại như: Công nghệ X-tended Dynamic Range Pro, Công nghệ TRILUMINOS Display, Công nghệ Clear Resolution, xem 3D, độ phân giải cao 4K, Full HD, ….
                        </p>


                        <div class="heading_container">
                            <h2>
                                3. Những ưu nhược điểm về tivi Sony
                            </h2>
                        </div>
                        <p>
                            Qua 2 mục mà chúng tôi đã nói ở trên đó là: tivi Sony của nước nào sản xuất và Tivi Sony có tốt không? Các bạn cùng cần phải biết được những mặt ưu khuyết điểm để cân nhắc phù hợp trước khi mua tivi Sony nhé:
                        </p>

                        <h4>
                            3.1. Về thiết kế
                        </h4>
                        <img src="~/giới thiệu sony/ckeditor_3240031.jpg" width="1000" />




                        <p>
                            Tivi Sony mang đến kích thước đa dạng từ 32 inch đến 55 inch các bạn thỏa sức lựa chọn kích thước phù hợp với không gian căn phòng cùng với thiết kế viền mỏng theo hướng tối giản mang lại sự sang trọng, trang nhã, đa dạng kích thước với tính thẩm mỹ cao.
                        </p>
                        <h4>
                            3.2. Tích hợp công nghệ vào hình ảnh, âm thanh
                        </h4>
                        <p>
                            - Hình ảnh là điểm nổi bất của dòng tivi Sony 4K với độ phân giải 4K vượt bậc 8340x2160 mang đến hình ảnh sắc nét gấp 4 lần độ phân giải tivi Full HD.

                            Bên cạnh đó các công nghệ tiên tiến về hình ảnh: tái tạo màu, tăng độ sáng, tăng độ sắc nét, ... cho hình ảnh chất lượng tốt như:

                            Công nghệ xử lý hình ảnh 4K X-Reality Pro: giúp hình ảnh không còn bị nhòe hình, độ tương phản tốt hơn, dải màu rộng hơn, video trong quá trình hiển thị trên màn hình càng thêm sắc nét, giảm nhiễu và màu sắc chính xác.

                            Công nghệ TRILUMINOS™ Display:  tái tạo lại hình ảnh trở nên sắc nét hơn, giảm nhiễu, giảm noise, tăng độ tương phản và độ bão hòa màu sắc, giúp cho màn hình hiển thị những màu sắc vốn khó tái tạo một cách chính xác như: đỏ, xanh lục, xanh lam.
                        </p>
                        <img src="~/giới thiệu sony/ckeditor_3240032.jpg" width="1000" />
                        <p>
                            Công nghệ hình ảnh X-tended Dynamic Range PRO tích hợp sản xuất tại Nhật bản (Trả lời cho câu hỏi: tivi Sony của nước nào?): sử dụng các thuật toán đèn nền độc đáo để tái tạo hình ảnh trở nên rực rỡ, trung thực và chiều sâu của hình ảnh cực kỳ cao, mang đến cho người dùng trải nghiệm hình ảnh chân thực, sống động nhất.

                            Công nghệ âm thanh Clear Audio+: có khả năng nhận diện từng hoạt động của người dùng như: đang xem phim, nghe nhạc, chơi game để tùy chỉnh âm thanh sao cho phù hợp nhất.

                            -  Âm thanh sống động, nổi bật:  m thanh chất lượng cao mang đến sự trải nghiệm hoàn hảo như:

                            Công nghệ tái tạo âm thanh ClearAudio+ và công nghệ âm thanh vòm đem đến một không gian âm thanh ba chiều, cho âm thanh tự nhiên, mới mẻ, sống động, rõ ràng như thật giúp bạn xem phim với âm thanh như ở rạp.

                            Công nghệ âm thanh 3D Surround Upscaling: Công nghệ này đem đến trải nghiệm âm thành vòm 3 chiều như rạp chiếu phim của định dạng âm thanh Dolby Atmos ngay tại nhà. Âm thanh 2 kênh hoặc 5.1 kênh sẽ được nâng cấp lên thành 5.1.2 kênh.

                            Công nghệ Acoustic Surface (loa) cho phép tivi tái tạo âm thanh qua màn hình, màn hình sẽ rung và phát ra âm thanh, đây là công nghệ tiên tiến nên không gây hại cho màn hình mà còn hỗ trợ thu gọn kích thước loa và tiết kiệm năng lượng.
                        </p>
                        <h4>
                            3.3. Về mức giá
                        </h4>
                        <p>Mức giá thì rất đa dạng để các lựa chọn phù hợp với túi tiền bạn muốn bỏ ra từ 7 - 100 triệu.</p>
                        <h4>
                            3.4. Về giao diện
                        </h4>
                        <img src="~/giới thiệu sony/ckeditor_3240033.jpg" width=" 1000"/>


                        <p>
                            Được tích hợp sẵn hệ điều hành Android với giao diện đẹp mắt dễ sử dụng với nhiều tiện ích, dịch vụ trực tuyến được tích hợp, kho ứng dụng Google Play cập nhật thường xuyên.
                        </p>
                      
                        <h4>
                            3.5. Nhược điểm
                        </h4>
                        <p>
                            Với dòng tivi Android hỗ trợ kết nối chuột, bàn phím còn một vài lỗi nhỏ hãng sản xuất đang khắc phục dần.

                            Các dòng cao cấp như OLED tivi hay các dòng 4K thì giá thành còn cao.

                            Mẫu mã và kích thước một số dòng chưa được phong phú (tivi Android kích thước khá lớn từ 43 inch).

                            Vậy là chúng tôi đã chia sẻ xong thông tin về tivi Sony của nước nào sản xuất? Cảm ơn các bạn đã theo dõi.
                        </p>
                       



                    </div>

                </div>
            </div>
        </div>
    </section>
</form>


<br />
<br />

<br />
<br />
