@{
    ViewData["Title"] = "Giới Thiệu";
}
<br />
<br />
<br />
<br />
<form asp-action="GioithieuLG">
    <section class="about_section layout_padding ">
        <div class="container">
            <div class="row">

                <div class="col-md-11">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Tivi LG -  Thưởng thức chương trình yêu thích của bạn
                            </h2>
                        </div>

                        <p>
                            Tivi LG không còn nhà cái tên xa lạ với những tin đồ công nghệ bởi LG luôn là một trong những ông hoàng đi đầu trong ngành điện tử nói chung và tivi nói riêng. Tivi LG được người tiêu dùng Việt Nam ưa chuộng bởi lối thiết kế sang trọng, màn hình sắc nét và sở hữu nhiều tính năng thông minh như: Tìm kiếm giọng nói bằng tiếng Việt, điều khiển bằng điện thoại, chơi game trên tivi,...
                        </p>

                        <img src="~/giới thiệu LG/tivi-lg.jpg" width="1000" />

                        <p class="text-center">Tivi LG</p>



                        <div class="heading_container">
                            <h2>
                                Giới thiệu thương hiệu LG
                            </h2>
                        </div>

                        <p>
                            LG là tập đoàn đa quốc gia có trụ sở chính đặt tại Seoul, Hàn Quốc, chuyên nghiên cứu và sản xuất các sản phẩm thuộc nhiều lĩnh vực như: Điện tử, gia dụng, điện thoại di động, thiết bị viễn thông, máy tính,... Trong số đó, LG đã trở thành thương hiệu nổi tiếng và được đánh giá cao về chất lượng với các sản phẩm điện tử, đặc biệt là tivi.
                        </p>
                        <img src="~/giới thiệu LG/tru-so-lg-tai-han-quoc.jpg" width="1000" />
                        <p class="text-center">Trụ sở của LG tại Seoul, Hàn Quốc</p>

                        <p>
                            Tivi LG sử dụng công nghệ màn hình tiên tiến, tích hợp nhiều tính năng thông minh và hiện đại. Công nghệ âm thanh trên tivi LG cũng được đánh giá cao với khả năng tái tạo chất âm trong trẻo và sắc nét.
                        </p>
                        <div class="heading_container">
                            <h2>
                                Đặc điểm của tivi LG
                            </h2>
                        </div>

                        <h4>
                            Thiết kế
                        </h4>
                        <p>
                            LG luôn mang đến thị trường các sản phẩm tivi ấn tượng với thiết kế hiện đại, thanh lịch, trở thành điểm nhấn nổi bật trong mọi không gian nội thất. Nhiều mẫu tivi của LG được thiết kế với màn hình cực lớn lên đến 97 inch, giúp người dùng có được trải nghiệm xem phim, chơi game hay xem thể thao đặc sắc và chất lượng hơn.
                        </p>
                        <h4>
                            Công nghệ hình ảnh
                        </h4>
                        <p>
                            LG là một trong những thương hiệu sử dụng công nghệ màn hình OLED đầu tiên trong sản xuất tivi. Màn hình OLED có khả năng hiển thị hình ảnh với độ tương phản cao, màu sắc chân thực và độ phân giải chi tiết.

                            Bên cạnh đó, thương hiệu cũng thường xuyên ứng dụng các công nghệ hình ảnh tiên tiến vào sản phẩm của mình để nâng cấp chất lượng hiển thị tốt hơn như: Dolby Vision IQ, Chế độ nhà làm phim (Filmmaker Mode), HDR10 Pro, Dynamic Tone Mapping/Pro,...
                        </p>
                        <h4>
                            Công nghệ âm thanh
                        </h4>
                        <p>
                            Các sản phẩm tivi của LG được trang bị loa công suất tương đối lớn và khả năng trình diễn âm thanh tốt. Ngoài ra, nhờ ứng dụng các công nghệ tiên tiến như AI Sound Pro, Dolby Atmos,... mà các dòng tivi LG cũng mang đến cho người nghe những dòng âm thanh vòm đắm chìm, giúp người dùng có trải nghiệm sống động hơn khi xem phim, nghe nhạc hay chơi game.
                        </p>
                        <h4>
                            Tính năng thông minh
                        </h4>
                        <p>LG sử dụng hệ điều hành thông minh WebOS, cung cấp kho ứng dụng giải trí khổng lồ với giao diện trực quan và dễ sử dụng. Ngoài ra, tivi của LG còn được tích hợp nhiều tính năng thông minh khác như kết nối Wi-Fi, bluetooth, phản chiếu màn hình từ smartphone lên tivi, điều khiển bằng giọng nói,...  </p>

                        <div class="heading_container">
                            <h2>
                                Các dòng tivi LG nổi bật
                            </h2>
                        </div>
                        <h4>
                            Tivi LG OLED evo
                        </h4>
                        <p>
                            Tivi OLED evo có thể được xem là một trong những dòng tivi ấn tượng bậc nhất của LG khi sở hữu thiết kế hiện đại, thanh lịch và cực kỳ sang trọng. Đặc biệt, OLED evo TV được chế tác với đa dạng kích cỡ, sản phẩm có màn hình lớn nhất là Smart Tivi LG OLED 4K 97 Inch 97G2PSA với độ lớn 97 inch, hứa hẹn mang đến những trải nghiệm giải trí đặc sắc, mới lạ và ấn tượng hơn cho người dùng.
                        </p>
                        <img src="~/giới thiệu LG/tivi-lg-oled-evo.jpg" width="1000" />
                        <p class="text-center">Tivi LG OLED evo</p>
                        <p>
                            Tivi OLED evo của LG được trang bị bộ xử lý tiên tiến cùng các tính năng cao cấp trong hiển thị hình ảnh như: Tăng cường độ sáng, Dynamic Tone Mapping Pro, FreeSync chống xé hình khi chơi game, chuyển động mượt OLED Motion,...
                        </p>
                        <h4>
                            Tivi LG QNED
                        </h4>
                        <p>
                            Các dòng tivi QNED cũng là một trong những sản phẩm chứng minh cho sự nỗ lực và đổi mới không ngừng nghỉ của LG trong suốt quá trình hoạt động. Ra đời với sự kết hợp hoàn hảo giữa công nghệ Quantum Dot, NanoCell với màn hình MiniLED để mang đến một màn hình tivi hoàn thiện, đạt đến chất lượng màu sắc tuyệt đỉnh hơn bao giờ hết.
                        </p>
                        <img src="~/giới thiệu LG/tivi-lg-qned-miniled.jpg" width="1000" />
                        <p class="text-center">Tivi LG QNED MiniLED</p>
                        <p>
                            Không chỉ được trải nghiệm hình ảnh sống động vượt trội với độ phân giải lên đến 8K chất lượng mà các dòng tivi QNED của LG cũng được trang bị một loạt công nghệ âm thanh tiên tiến như: Dolby Atmos, Clear Voice Pro, AI Acoustic Tuning,... và các tính năng thông minh như: Tìm kiếm bằng giọng nói thông qua Google Assistant, Amazon Alexa, LG Voice Search,...
                        </p>

                        <p>
                            <h4>Tivi LG NanoCell</h4>
                            Ứng dụng công nghệ NanoCell cao cấp của LG, các sản phẩm tivi NanoCell mang đến chất lượng nghe nhìn hảo hạng với góc nhìn rộng, màu sắc đẹp mắt và chất âm chuẩn sắc. Mọi hình ảnh sẽ được xử ký và nâng cấp lên chuẩn 4K chất lượng nhờ bộ xử lý hiện đại, tái tạo thế giới tự nhiên chân thực với dải màu rộng Nano Color.
                        </p>
                        <img src="~/giới thiệu LG/tivi-lg-nanocell.jpg" width="1000" />
                        <p class="text-center">Tivi LG NanoCell</p>
                        <p>
                            Bên cạnh đó, một loạt công nghệ âm thanh tiên tiến như: Chế độ lọc thoại Clear Voice Pro, Điều chỉnh âm thanh tự động AI Acoustic Tuning, Âm thanh phù hợp theo nội dung AI Sound Pro,... sẽ giúp trải nghiệm giải trí của bạn trở nên tuyệt vời hơn bao giờ hết.
                        </p>



                    </div>

                </div>
            </div>
        </div>
    </section>
</form>


<br />
<br />

<br />
<br />
