@{
    ViewData["Title"] = "Giới Thiệu";
}
<br />
<br />
<br />
<br />

<section class="about_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">

                    <img src="~/giới thiệu. samsung/tap-doan-samsung.jpg" height="300" width="300" />
                    
                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Tivi Samsung - Thương hiệu điện tử đẳng cấp cho mọi nhà
                        </h2>
                    </div>

                    <p>
                        Tivi Samsung là một trong những thương hiệu tivi hàng đầu trên thị trường hiện nay. Với hơn 50 năm kinh nghiệm trong lĩnh vực công nghệ điện tử, Samsung đã không ngừng đổi mới và đưa ra những sản phẩm tivi vượt trội về chất lượng và công nghệ.động AVA.
                        Nâng cao cảm xúc người xem với công nghệ âm thanh chuyển động theo hình ảnh OTS Pro.
                    </p>
                    <a asp-action="Gioithieusamsug">
                        xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">

                    <img src="~/giới thiệu LG/tivi-lg.jpg" height="300" width="300" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Tivi LG -  Thưởng thức chương trình yêu thích của bạn
                        </h2>
                    </div>
                    <p>
                        Tivi LG không còn nhà cái tên xa lạ với những tin đồ công nghệ bởi LG luôn là một trong những ông hoàng đi đầu trong ngành điện tử nói chung và tivi nói riêng. Tivi LG được người tiêu dùng Việt Nam ưa chuộng bởi lối thiết kế sang trọng, màn hình sắc nét và sở hữu nhiều tính năng thông minh như: Tìm kiếm giọng nói bằng tiếng Việt, điều khiển bằng điện thoại, chơi game trên tivi,...
                    </p>
                    <a asp-action="GioithieuLG">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="~/giới thiệu sony/ckeditor_3240031.jpg" height="300" width="300" />
                    
                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Tivi Sony có tốt không?
                        </h2>
                    </div>
                    <p>
                        Qua những thông tin về tivi Sony của nước nào sản xuất được chia sẻ ở mục 1. chắc hẳn các bạn cũng đã biết được khẳng định phần nào về “Tivi Sony có tốt không?”

                        Vậy chúng tôi khẳng định lại 1 lần nữa cho câu hỏi “Tivi Sony có tốt không?” câu trả lời của chúng tôi là “CÓ” . Bởi nó được thiết kế đơn giản về kiểu dáng rất tinh tế nhỏ gọn, mỏng nhưng chính thế mà nó không thể không toát lên vẻ sang trọng. Cùng với việc kết hợp công nghệ xử lý hình ảnh vô cùng hiện đại như: Công nghệ X-tended Dynamic Range Pro, Công nghệ TRILUMINOS Display, Công nghệ Clear Resolution, xem 3D, độ phân giải cao 4K, Full HD, ….
                    </p>
                    <a asp-action="Gioithieusony">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                 
                    <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-1-730x420.jpg" height="300" width="300" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Tivi Toshiba - Thiết kế hiện đại
                        </h2>
                    </div>
                    <p>
                        Tivi Toshiba ngày càng được thiết kế hiện đại với đường nét tinh xảo và đường viền siêu mỏng, tạo cảm giác cho màn hình trở nên rộng hơn. Ngoài ra, chân đế tivi còn được làm bằng kim loại cứng cáp và có thể điều chỉnh được độ cao hoặc tháo rời linh hoạt.
                    </p>
                    <a asp-action="Gioithieutoshiba">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />
<br />
