@{
    ViewData["Title"] = "Giới Thiệu";
}
<br />
<br />
<br />
<br />
<form asp-action="Gioithieutoshiba">
    <section class="about_section layout_padding ">
        <div class="container">
            <div class="row">

                <div class="col-md-11">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Thương hiệu lâu đời, uy tín
                            </h2>
                        </div>

                        <p>
                            Thương hiệu lâu đời, uy tín
                            Tivi Toshiba là sản phẩm thuộc tập đoàn Toshiba của Nhật Bản, được thành lập vào năm 1939 và xuất hiện tại thị trường Việt Nam vào năm 1990.

                            Hơn nữa, các mẫu tivi Toshiba bán trong nước đều được lắp ráp tại Việt Nam nhưng đạt tiêu chuẩn nghiêm ngặt theo chất lượng công nghệ Nhật. Do đó, tivi Toshiba này rất được người tiêu dùng ưa chuộng bởi sự quen thuộc và thương hiệu uy tín lâu đời.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-10-730x441.jpg" width=" 1000" />

                        <div class="heading_container">
                            <h2>
                                Thiết kế hiện đại
                            </h2>
                        </div>
                        <p>
                            Tivi Toshiba ngày càng được thiết kế hiện đại với đường nét tinh xảo và đường viền siêu mỏng, tạo cảm giác cho màn hình trở nên rộng hơn. Ngoài ra, chân đế tivi còn được làm bằng kim loại cứng cáp và có thể điều chỉnh được độ cao hoặc tháo rời linh hoạt.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-1-730x420.jpg" width="1000" />

                        <p class="text-center">Google Tivi Toshiba 4K 43 inch 43C350LP có thiết kế siêu mỏng với màn hình tràn viền góp phần mang lại vẻ đẹp cho căn phòng</p>


                        <div class="heading_container">
                            <h2>
                                Đa dạng kích cỡ tivi
                            </h2>
                        </div>

                        <p>
                            Tivi Toshiba cũng được thiết kế nhiều kích cỡ, phù hợp với không gian lắp đặt cũng như khoảng cách cho người dùng ngồi xem thoải mái và an toàn như:

                            Tivi 43 inch: phù hợp với khoảng cách ngồi xem từ 2.2 - 3.3m.
                            Tivi 50 inch: phù hợp với khoảng cách ngồi xem từ 2.5 - 3.8m.
                            Tivi 55 inch: phù hợp với khoảng cách ngồi xem từ 2.8 - 4.2m.
                            Tivi 65 inch: phù hợp với khoảng cách ngồi xem từ 3.3 - 5m.
                            Tivi 75 inch: phù hợp với khoảng cách ngồi xem từ 3.8 - 5.7m.
                        </p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/H_HPna96kAk?si=NhYJmVfjuDyqIDzC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



                        <div class="heading_container">
                            <h2>
                                Công nghệ hình ảnh hiện đại
                            </h2>
                        </div>

                        <p>
                            Tivi Toshiba còn được hãng đầu tư rất nhiều công nghệ hình ảnh hiện đại, giúp cho người dùng có thể xem được nội dung sắc nét và màu sắc tự nhiên nhất, như:

                            Công nghệ 4K Brilliance Restoration: có khả năng phân tích hình ảnh, giúp tái tạo độ sáng và cải thiện khiếm khuyết về dải màu, nhờ đó cho chất lượng hình ảnh 4K cuốn hút hơn.
                            Công nghệ Color Re-Master Pro: có khả năng phục hồi nguyên bản màu sắc tự nhiên của hình ảnh gốc, mang lại sự trải nghiệm màu sắc đẹp tự nhiên của nội dung hiển thị.
                            Công nghệ AI Picture Optimizer: sử dụng công nghệ AI để phân tích và điều chỉnh khung hình, sau đó tự động chọn chế độ xem phù hợp với nội dung phát, nhờ đó mang lại sự trải nghiệm xem sống động và chân thực hơn.
                            Công nghệ iCare Blue: làm giảm cường độ của ánh sáng xanh và hạn chế hiện tượng ánh sáng nhấp nháy, từ đó mang lại cảm giác nhìn dễ chịu cũng như góp phần bảo vệ đôi mắt người xem tốt hơn.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-5-730x403.jpg" width="1000" />
                        <p class="text-center">Công nghệ Color Re-Master Pro trên Smart Tivi OLED Toshiba 4K 65 inch 65X9900LP mang lại sự trải nghiệm màu sắc tự nhiên và chân thực</p>

                        <div class="heading_container">
                            <h2>
                                Công nghệ âm thanh tiên tiến
                            </h2>
                        </div>
                        <p>
                            Ngoài công nghệ hình ảnh, chất lượng âm thanh cũng là điểm nổi bật trên tivi Toshiba vì được hãng trang bị nhiều công nghệ âm thanh tiên tiến như:

                            Công nghệ Dolby Audio: có khả năng tối ưu chất lượng âm thanh, nhằm tạo nên không gian âm thanh sống động và mạnh mẽ cho từng thể loại nội dung được phát trên tivi.
                            Công nghệ Dolby Atmos: tạo ra âm thanh đa chiều mạnh mẽ, giống với chất lượng âm thanh trong rạp chiếu phim.
                            Công nghệ Regza Power Audio: cho chất lượng âm thanh trung thực và to rõ, giúp người xem như đang chìm đắm vào từng khung hình hiển thị.
                            Công nghệ Tru Bass Processor: tăng cường âm bass, giúp bài hát có độ trầm và thêm phần sâu sắc, giúp người nghe cảm nhận được sự chân thực và tính nghệ thuật của tác phẩm.
                            Công nghệ DTS Virtual X: có khả năng tối ưu chất lượng âm thanh từ nguồn phát, giúp âm thanh trở nên rõ nét, đồng thời còn tạo ra hiệu ứng âm thanh 3D cho chất lượng âm thanh sống động, tràn ngập căn phòng.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-3-730x410.jpg" width=" 1000" />

                        <div class="heading_container">
                            <h2>
                                Giao diện Google TV hiện đại
                            </h2>
                        </div>
                        <p>
                            Hầu hết, các mẫu tivi Toshiba hiện nay đều sử dụng hệ điều hành Google TV có giao diện thân thiện, giúp người dùng có thể truy cập vào các nội dung yêu thích một cách nhanh chóng và tiết kiệm thời gian.

                            Không những vậy, thư viện của Google TV cũng rất đa dạng các ứng dụng, đáp ứng tốt các nhu cầu giải trí, học tập và làm việc của tất cả các thành viên trong gia đình.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-4-730x438.jpg" width=" 1000" />
                        <div class="heading_container">
                            <h2>
                                Đa dạng tiện ích
                            </h2>
                        </div>
                        <p>
                            Đa dạng tiện ích
                            Ngoài sở hữu kho ứng dụng vô cùng phong phú, tivi Toshiba cũng được thiết kế thêm nhiều tiện ích khác, thuận tiện cho việc sử dụng như:

                            Điều khiển tivi bằng giọng nói tiếng Việt qua remote thông minh (đính kèm theo sản phẩm).
                            Phản chiếu màn hình điện thoại lên tivi thông qua các tính năng quen thuộc như AirPlay 2, Chromecast, Content Sharing, DLNA hay Miracast.
                        </p>
                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-5-730x403.jpg" width=" 1000" />
                        <div class="heading_container">
                            <h2>
                                Mức giá cạnh tranh
                            </h2>
                        </div>
                        <p>
                            Tùy theo kích thước và công nghệ tích hợp mà tivi Toshiba có mức giá thành khác nhau, dao động từ 7 - 40.5 triệu đồng (cập nhật tháng 5/2023).

                            Do đó, bất kỳ gia đình nào cũng đều có thể sở hữu được mẫu tivi Toshiba ưng ý nhất với kích thước tivi 43 - 75 inch theo mức giá phía trên.
                        </p>

                        <img src="~/giới thiệu toshiba/Ly-do-ban-nen-so-huu-chiec-tivi-Toshiba-6-730x399.jpg" width=" 1000"/>

                    </div>

                </div>
            </div>
        </div>
    </section>
</form>


<br />
<br />

<br />
<br />
