@model BanTV.Models.KhachHang

@{
    ViewData["Title"] = "Đăng ký";
}
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="p-3 shadow">
            <h3 class="text-center text-success">ĐĂNG KÝ</h3>
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-3">
                    <label asp-for="Ten" class="control-label"></label>
                    <input asp-for="Ten" class="form-control" required />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Dienthoai" class="control-label"></label>
                    <input asp-for="Dienthoai" class="form-control" required/>
                    <span asp-validation-for="Dienthoai" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Matkhau" class="control-label"></label>
                    <input name="Matkhau" class="form-control" required/>
                    <span asp-validation-for="Matkhau" class="text-danger"></span>
                </div>
               
                <div class="form-group my-3 text-center d-grid">
                    <input type="submit" value="Đăng ký" class="btn btn-primary btn-block " />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<br />
<br />
<br />
<br />
