@model BanTV.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Manv" />
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input name="hoten" class="form-control" value="@Model.Ten" />
            </div>
            <div class="form-group">
                <label asp-for="Dienthoai" class="control-label"></label>
                <input name="dienthoai" class="form-control" value="@Model.Dienthoai" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input name="email" class="form-control" value="@Model.Email" />
            </div>
            <div class="form-group">
                <label class="control-label">Đặt lại mật khẩu</label>
                <input name="matkhau" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Quyền</label><br />
                @if (Model.Quyen == 1)
                {

                    <input type="radio" id="0" name="quyen" value="0"> <label for="0">Nhân viên</label>
                    <input type="radio" id="1" name="quyen" value="1" checked="true"> <label for="1">Quản lý</label>
                    <input type="radio" id="2" name="quyen" value="2"> <label for="2">Nhân viên vận chuyển</label>
                }
                else
                {
                    @if (Model.Quyen == 0)
                    {

                        <input type="radio" id="0" name="quyen" value="0"> <label for="0">Nhân viên</label>
                        <input type="radio" id="1" name="quyen" value="1" checked="true"> <label for="1">Quản lý</label>
                        <input type="radio" id="2" name="quyen" value="2"> <label for="2">Nhân viên vận chuyển</label>
                    }
                    else
                    {
                        <input type="radio" id="0" name="quyen" value="0"> <label for="0">Nhân viên</label>
                        <input type="radio" id="1" name="quyen" value="1"> <label for="1">Quản lý</label>
                        <input type="radio" id="2" name="quyen" value="2"  checked="true"> <label for="2">Nhân viên vận chuyển</label>
                    }


                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

